/*아이디 또는 비밀번호 입력 받는 박스*/
input[type=text],
input[type=password],
input[type=email]
input[type=textarea] {
    width: 100%;
    height: 3em;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-top: 10px;
}

/*아이디 또는 비밀번호 박스 클릭 시*/
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=textarea]
#selectBox:focus {
    outline: none;
    border-radius: 50px;
    border: 1.5px solid black;
}

/*-------버튼-------*/
/*버튼 박스*/
input[type=button],
button {
    background-color: #007ADD;
    color: white;
    padding: 14px 20px;
    margin: 8px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    outline: none;
}

/*버튼 위에 마우스 올릴 시*/
input[type=button]:hover,
button:hover {
    opacity: 0.6;
}

/*셀렉트 박스*/
#selectBox {
    width: 200px; /* 원하는 너비설정 */
    margin-left: 30px;
    padding: .8em .5em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    border-radius: 50px;
    outline: none;
    text-align-last: center;
}