/*아이디 또는 비밀번호 입력 받는 박스*/
input[type=text],
input[type=textarea] {
	background-color: #efefef;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

/*아이디 또는 비밀번호 박스 클릭 시*/
input[type=text]:focus,
input[type=textarea]
#selectBox:focus {
	
	background-color: #efefef;
    outline: none;
    border-radius: 10px;
    border: 2px solid #97cbff;
   
}

/*-------버튼-------*/
/*버튼 박스*/
button {
    background-color: #007ADD;
    color: white;
    padding: 14px 20px;
    margin: 8px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 15%;
    outline: none;
    float:right;
	background-color: #007ADD;
	padding: 0.4em 3em;
	height: 3em;
	width: 8em;
	margin-top: 10px;
}

/*버튼 위에 마우스 올릴 시*/
button:hover {
    opacity: 0.6;
}

/*셀렉트 박스*/
#selectBox {
    width: 200px; /* 원하는 너비설정 */
    margin-left: 30px;
    padding: .8em .5em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    border-radius: 50px;
    outline: none;
    text-align-last: center;
}

body {
	margin-bottom: 20px;
	font-family: 굴림체;
}

div.container {
	margin-top: 75px;
}

form div {
	margin-bottom: 5px;
}



/* button {
	float:right;
	background-color: #007ADD;
	padding: 0.4em 3em;
	height: 3em;
	width: 8em;
	margin-top: 10px;
}
 */
/* 제목 입력칸 */
.title {

	margin-top: 3%;
	margin-bottom: 2%;
	margin-left: 3%;
	float: left;
	width: 90%;
	height: 3em;
}

.type_checkbox {
	margin-left: 51%;
}

h1 {
	margin-left:30%;
}


/* 테이블 */
table {
	border-radius: 10px 10px;
	margin: auto;
	width: 40%; 
	border-collapse: collapse;
	border: 1px solid lightgray; 
}

thead {
	border-radius: 10px 10px;
}


/* 제목 테이블 th */
table th:nth-child(1) { 
	background-color: #A4A4A4;
}

table tbody td:nth-child(1) {
	background-color: #A4A4A4;
}

th{
	
	color:white;
	padding: 5px; 
	border: 1px solid lightgray; 
}

td {
	color:white;
	text-align: center;
	padding: 5px; 
	border: 1px solid lightgray; 
}


/* 내용칸 */
textarea {
	background-color: #efefef;
	border: none;
	border-radius: 10px / 10px;
	width: 99%;
	height: 30em;
	font-size: 15px;
}

/* 포커싱 시 검은 테두리 제거*/
textarea:focus {
    outline: none;
    border: 2px solid #97cbff;
    
}
div#string_limit {
	text-align: right;
	color:black;
}

