/*body*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*form*/
form {
    border: 3px solid #666666;
    border-radius: 5%;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
}

/*중앙 학교 이미지*/
.imgContainer {
    text-align: center;
    margin: 50px 0px;
}

/*div 속성*/
.container {
    margin: 15px auto;
    width: 300px;
}
.container_center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1100px;
	height: 700px;
	transform: translate(-50%, -50%);
}