.section {
	width: 100%;
	height: 100vh;
}

.tabMenu {
	width: 20%;
	height: 100%;
	display: inline-block;
}

.tabSection {
	display: inline-block;
	width: 70%;
	height: 100%;
}

ul.tabs {
	list-style: none;
	border-right: 2px solid black;
	width: 200px;
	float: right;
}

ul.tabs li {
	background: none;
	color: #222;
	padding: 10px 15px;
	cursor: pointer;
	text-align: left;
}

ul.tabs li.current {
	border-left: 5px solid red;
}

.tab-content {
	display: none;
}

.tab-content.current {
	display: inherit;
	float: left;
	padding-left: 50px;
	width: 100%;
}