body {
	margin-top: 100px;	
}

.section {
	width: 100%;
	height: 800px;
}

.tabMenu {
	width: 20%;
	display: inline-block;
	height: 100%;
}

.tabSection {
	width: 60%;
	display: inline-block;
	height: 100%;
}

ul.tabs {
	list-style: none;
	border-right: 2px solid black;
	float: right;
	width: 200px;
}

ul.tabs li {
	background: none;
	color: #222;
	padding: 10px 15px;
	cursor: pointer;
	text-align: left;
}

ul.tabs li.current {
	border-left: 5px solid red;
}

.tab-content {
	display: none;
}

.tab-content.current {
	display: inherit;
	margin-left: 50px;
	float: left;
	width: 100%;
}